
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-color: rgb(147, 155, 158);
 font-family: fantasy;
 
}

.card{
  width: 500px;
  height: 450px;
  margin: 5rem 2rem 5rem;
  background-color: rgb(211, 207, 207);
  display: inline-block;
  box-shadow: black 0px 5px 15px;
  

}
.cardImg:hover{
  opacity: 0.5;
  transition: 1.s;
}



.cardImg{
  width: 400px;
  height: 350px;
  margin: 1rem 3rem;
 
  
}


.title{
  padding-top: 5px;
  text-align: center;

}
.container{
  display: inline-block;
  max-width: 100%;
  
}


